{% extends "base.html" %}
{% block title %}{{SITENAME}} - {{article.title}}{% endblock title %}
{% block head %}
{{super()}}
{% if article.fb_image %}
<meta property="og:image" content="{{SITEURL}}/images/{{article.fb_image}}">
{% endif %}
{% if article.twitter_image %}
<meta name="twitter:creator" content="@cprieto">
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:title" content="{{ article.title|striptags }}">
<meta name="twitter:image" content="{{SITEURL}}/images/{{article.twitter_image}}">
{% endif %}
{% endblock %}
{% block body %}
<div class="eight columns offset-by-two">
  <header class="post">
    <h1><a rel="index" href="{{SITEURL}}/index.html">{{SITENAME}}</a></h1>
  </header>
</div>
<main role="main" class="post">
  <div class="twelve columns">
    <article>
      <header>
        <h2>{{ article.title|striptags }}</h2>
        <div class="meta">
          <span class="u-helper"></span>
          <a rel="author" href="{{ SITEURL }}/about.html">
          <img class="avatar" alt="{{AUTHOR}}" src="{{ SITEURL}}/theme/images/avatar01_small.jpeg" />
          </a>
          <time pubdate datetime="{{article.date.isoformat()}}">{{article.date|strftime('%d %B %Y')}}</time>
          {% if article.tags %}
           on {% for tag in article.tags %}<a rel="tag" href="{{ tag.url }}">{{tag.name|striptags}}</a>{% if not loop.last %}, {% endif %}{% endfor %}
          {% endif %}
          {% if article.readtime %}
          <span class="readtime">{{article.readtime_minutes}} minute{% if article.readtime_minutes > 1 %}s{% endif %} reading</span>
          {% endif %}
        </div>
      </header>
      <section>
        {{ article.content }}
      </section>
    </article>
  </div>
</main>
{% endblock %}
{% block footer %}
<div id="disqus_thread"></div>
<script>
(function() {
    var d = document, s = d.createElement('script');
    s.src = '//{{DISQUS_SITENAME}}.disqus.com/embed.js';
    s.setAttribute('data-timestamp', +new Date());
    (d.head || d.body).appendChild(s);
})();
</script>
{% if article.prev_article %}
<div class="row">
  <div class="twelve columns">
    <nav>
      <ul>
          {% if article.next_article %}
          <li><a href="{{SITEURL}}/{{article.next_article.url}}" rel="prev" title="{{article.next_article.title}}">Next post</a></li>
          {% endif %}
          {% if article.prev_article %}
          <li><a href="{{SITEURL}}/{{article.prev_article.url}}" rel="next" title="{{article.prev_article.title}}">Previous post</a></li>
          {% endif %}
      </ul>
    </nav>
  </div>
</div>
{% endif %}
{{ super() }}
{% endblock %}
