{% extends "base.html" %}
{% block title %}{{ super() }} - Tags{% endblock %}
{% block body %}
<div class="eight columns offset-by-two">
  <header class="post">
    <h1><a rel="index" href="{{SITEURL}}/index.html">{{SITENAME}}</a></h1>
  </header>
</div>
<main role="main" class="archives">
  <div class="ten columns offset-by-one">
    <header>
      <h2>All tags</h2>
    </header>
    <section>
      {% for tag, articles in tags %}
      <article>
        <h4><a href="{{SITEURL}}/{{tag.url}}">{{tag}}</a></h4>
        <div class="meta">{{articles|count}} article{% if articles|count > 1%}s{% endif %}</div>
      </article>
      {% endfor %}
    </section>
  </div>
</main>
{% endblock %}
