/* Common styles */
@import url('https://fonts.googleapis.com/css?family=Fira+Mono');
@import url('https://fonts.googleapis.com/css?family=Roboto+Slab:300');

body {
  border-top: #3e948b;
  border-top-style: solid;
  border-width: 5px;
  background-color: #fff;
  font-family: 'Merriweather', serif;
}

.highlight pre {
    background-color: #f0f0f0;
    border-radius: 5px;
    padding: 10px;
    border: 1px solid #e1e1e1;
}

h1, h2, h3, h4, h5 {
  font-family: 'Droid Sans', sans-serif;
}

p {
  font-size: 1.2em;
  line-height: 2.0em;
}

div.meta {
  color: #9eabb3;
  font-size: 0.9em;
  font-family: 'Droid Sans', sans-serif;
  margin-top: 10px;
}

.meta time {
  text-transform: uppercase;
}

.meta .readtime {
  font-style: italic;
  color: #3e948b;
}

.meta .readtime::before {
  content: "• ";
}

.meta img.avatar {
  width: 25px;
  height: 25px;
  margin-right: 10px;
  border-radius: 50%;
  display: inline;
  vertical-align: middle;
}

.meta a {
  text-decoration: none;
  color: #9eabb3;
}

.meta a:hover {
  color: #3e948b;
}

span.u-helper {
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}

/* index styles */
header.index {
  margin-top: 50px;
}

header.index h1 {
  color: #3e948b;
  font-weight: 700;
  margin: 0;
}

header.index h1 a {
  text-decoration: none;
  color: #3e948b;
}

header.index p {
  font-style: italic;
  font-size: 0.9em;
  margin: 0;
}

header.index nav.social {
  margin: 0;
  margin-top: 10px;
}

header.index nav.social li {
  display: inline;
  margin-right: 10px;
}

header.index nav.social i {
  font-size: 3.5em;
  padding-right: 5px;
  margin-top: 5px;
  color: #9eabb3;
}

header.index img.avatar {
  height: auto;
  width: 100%;
  height: 100%;
  max-width: 140px;
  max-height: 140px;
  border-radius: 50%;
  vertical-align: middle;
  display: block;
}

main.index header h2 a {
  text-decoration: none;
  color: #000;
}

main.index header h2 a:hover {
  color: #3e948b;
}

main.index article header {
  margin-bottom: 10px;
  margin-top: 50px;
}

/* Post styles */
header.post {
  text-align: center;
  margin-top: 50px;
  text-align: left;
  margin-top: 30px;
  margin-bottom: 40px;
}

header.post h1 {
  color: #3e948b;
  text-transform: uppercase;
  font-size: 1.3em;
  font-weight: 400;
  word-spacing: 0.75em;
  text-align: center;
}

.post h1 a {
  text-decoration: none;
  color: #3e948b;
}

main.post h2 {
  font-weight: 400;
  margin-bottom: 5px;
}

main.post article header {
  margin-bottom: 40px;
  margin-top: 30px;
}

main.post article section img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

main.post article li {
  margin: 5px 0;
}

main.post article section blockquote {
  font-style: italic;
  font-weight: lighter;
  margin: 1.5em 25px;
  padding: 0.5em 10px;
  quotes: "\201C""\201D""\2018""\2019";
  font-family: 'Roboto Slab', serif;
}

article section blockquote:before {
  color: #ccc;
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}

article section blockquote > p {
  display: inline;
}

main.post article section div.admonition {
  color: #dc322f;
  font-family: monospace;
  font-size: 1em;
  padding: 10px;
  border: 1px solid #d2d3d1;
  border-radius: 5px;
  margin-bottom: 2.5em;
  margin-top: 2.5em;
  overflow: auto;
}

div.admonition p {
  margin: 1em;
}

footer.bottom nav li {
  display: inline;
}

footer.bottom nav a {
  text-decoration: none;
  color: #3e948b;
}

footer.bottom nav a[rel="next"] {
  float: right;
}

footer.bottom nav {
  margin-top: 50px;
  margin-bottom: -40px;
}
footer nav a[rel="prev"] {
  float: left;
}

section.endnote {
  margin-top: 50px;
}

section.endnote p {
  text-align: center;
  font-size: 0.9em;
}

section.endnote i.fa {
  font-size: 1.1em;
}

section.endnote a {
  text-decoration: none;
  color: #000;
}

section.endnote a:hover {
  color: #3e948b;
}

/* archive styles */
main.archives header {
  margin-top: 30px;
  margin-bottom: 40px;
  text-align: center;
}

main.archives section h3 {
  text-align: center;
  margin-bottom: 25px;
}

main.archives section h4 {
    margin-bottom: 5px;
}

main.archives section article {
  margin-bottom: 30px;
}

main.archives section article a {
  text-decoration: none;
}

main.archives section article a:hover {
  color: #3e948b;
}

/* page styles */
main.page header {
  text-align: center;
  margin-bottom: 30px;
  margin-top: 40px;
}

/* about page */
main.page img.avatar {
    border-radius: 25px;
    float: right;
    padding-left: 15px;
    padding-bottom: 10px;
}

div.notebook_output {
  display: flex;
  flex-wrap: nowrap;
  /*border-bottom: 1px dotted gray; */
  /*border-top: 1px dotted gray; */
  padding-bottom: 3px;
  padding-top: 3px;
  margin-bottom: 2.5rem;
  margin-top: 1.5rem;
}

div.notebook_output_code {
  font-family: 'Fira Mono', monospace;
  color: #8e908c;
  border-left: 6px solid #8e908c;
  line-height: 1.5em;
  padding-left: 10px;
  display: flex;
  justify-content: center;
  resize: vertical;
  overflow: auto;
  flex-direction: column;
  min-height: 35px;
}

div.notebook_output_code > pre {
  margin-bottom: 1em;
  margin-top: 1em;
  text-align: left;
}

div.notebook_output_text {
  display: none;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  padding-left: 10px;
  padding-right: 10px;
}

div.notebook_output_text > span {
  color: crimson;
  font-family: 'Fira Mono', monospace;
}

div#layout {
  margin-top: 2.5em;
}

article section div.highlight {
  margin-top: 1.5em;
  margin-bottom: 1.5em;
}