<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>{% block title %}{{ SITENAME }}{% endblock %}</title>
  <meta name="description" content="">
  <meta name="author" content="{{ AUTHOR }}">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href='https://fonts.googleapis.com/css?family=Droid+Sans|Merriweather:700,300' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
  <!-- This should be move to one min css -->
  <link rel="stylesheet" href="{{SITEURL}}/theme/css/normalize.css"/>
  <link rel="stylesheet" href="{{SITEURL}}/theme/css/skeleton.css"/>
  <link rel="stylesheet" href="{{SITEURL}}/theme/css/site.css"/>
  {% block head %}
  {% endblock %}
</head>
<body class="index">
  <div class="container">
    {% block body %}
    {% endblock %}
    <footer class="bottom">
        {% block footer %}
        {% endblock %}
        <div class="row">
          <div class="ten columns offset-by-one">
            <section class="endnote">
              <p>
                Powered by <a href="http://blog.getpelican.com/">Pelican</a> | <a href="#"><i class="fa fa-creative-commons"></a></i> <a href="#">{{ AUTHOR }}</a> &copy; 2015
              </p>
            </section>
          </div>
        </div>
    </footer>
  </div>
</body>
</html>
