{% extends "base.html" %}
{% block title %}{{ super() }} - Archives for {{ period | reverse | join(' ') }}{% endblock %}
{% block body %}
<div class="eight columns offset-by-two">
  <header class="post">
    <h1><a rel="index" href="{{SITEURL}}/index.html">{{SITENAME}}</a></h1>
  </header>
</div>
<main role="main" class="archives">
  <div class="ten columns offset-by-one">
    <header>
      <h2>Articles archived on {{ period | reverse | join(' ') }}</h2>
    </header>
    <section>
      {% for article in dates %}
      <article>
        <h4><a href="{{SITEURL}}/{{article.url}}">{{article.title}}</a></h4>
        <div class="meta">
          <time pubdate datetime="{{article.date.isoformat()}}">{{article.date|strftime('%d %B')}}</time>{% if article.tags|length > 0 %}; on
          {% for article_tag in article.tags %}
          <a rel="tag" href="{{ SITEURL }}/{{ article_tag.url }}">{{article_tag.name}}</a>{% if not loop.last %}, {% endif %}
          {% endfor %}
          {% endif %}
        </div>
      </article>
      {% endfor %}
    </section>
  </div>
</main>
{% endblock %}
